[submodule "Fei"]
	path = Fei
	url = https://github.com/MichelleJimenez8/Fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/MichelleJimenez8/poema.git
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/MichelleJimenez8/Ecommerce.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/MichelleJimenez8/ordinario-ftw.git
